.main-page__chats-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.avatar-icon.material-icons {
    font-size: 40px;
}

.check-icon.material-icons {
    font-size: 16px;
}