.message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 64px 12px;
    height: calc(100% - 116px);
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(243 229 245);
    border-radius: 4px;
    margin: 4px 0;
    padding: 8px;
    max-width: 70%;
    word-wrap: break-word;
}

.message-time {
    font-size: 12px;
    color: rgb(156 156 156);
}