.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.input-container {
    position: fixed;
    width: 100%;
    background-color: rgb(255 255 255);
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 12px;
}

.message-input {
    flex-grow: 1;
    border: 0;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.attach-button {
    background: none;
    border: none;
    color: rgb(173 173 173);
    cursor: pointer;
    font-size: 24px;
}