.main-page__new-chat-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(255 213 79);
    color: rgb(117 97 36);
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color 0.6s, color 0.6s;
    animation: pulse 2s infinite;
}

.main-page__new-chat-button:hover {
    background-color: rgb(142 36 170);
    color: rgb(255 255 255);
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }