.message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 64px 12px 12px 12px;
    flex-grow: 1;
    justify-content: flex-end;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(243 229 245);
    border-radius: 4px;
    margin: 4px 0;
    padding: 8px;
    max-width: 70%;
    word-break: break-word;
}

.new-message {
    position: relative;
    bottom: -100px;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        bottom: -100px;
    }

    to {
        bottom: 0;
    }
}

.message-time {
    font-size: 12px;
    color: rgb(156 156 156);
}

.from-user {
    align-self: flex-start;
    background-color: rgb(255 255 255);
}